<%= form_for(@kind, html: { class: "basic-grey" }) do |f| %>
  <% if @kind.errors.any? %>
  <div id="error_explanation">
    <h2><%= "#{pluralize(@kind.errors.count, 'error')} #{t('messages.errors')}" %></h2>

    <ul>
      <% @kind.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </div>
  <% end %>

  <h1><%= @kind.model_name.human(count: 1) %></h1>

  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.submit t('buttons.save'), class: "btn btn-success"  %>
    <%= link_to t('buttons.back'), kinds_path, class: "btn btn-primary" %>
  </div>
<% end %>
