<div class="basic-grey">
  <script>
    $.notify("<%= notice %>", "success");
  </script>

  <h1><%= "#{t('messages.listing')} #{@kinds.model_name.human(count: 2)}" %></h1>

  <table>
    <thead>
      <tr>
        <th><%= Kind.human_attribute_name("description") %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @kinds.each do |kind| %>
        <tr style="background: <%= cycle('#FFF', '#F0F0F5')%>" >
          <td><%= kind.description %></td>
          <td><%= link_to t('buttons.Edit'), edit_kind_path(kind) %></td>
          <td><%= link_to t('buttons.Destroy'), kind, method: :delete, data: { confirm: t('messages.destroy_confirm') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br />
  <%= paginate @kinds %>
  <br>

  <%= link_to "#{t('buttons.new')}", new_kind_path, class: "btn btn-primary" %>
  <%= link_to "#{t('buttons.home')} ", root_path, class: "btn btn-primary" %>
</div>
