<div class="nested-fields">
  <div class="field">
    <%= f.label :phone %><br>
    <%= f.text_field :phone, class: "phone-field" %>
    <%= link_to_remove_association(t('buttons.Destroy'), f)%>
  </div>
</div>
