<div class="basic-grey">
  <script>
    $.notify("<%= notice %>", "success");
  </script>

  <h1><%= "#{t('messages.listing')} #{@contacts.model_name.human(count: 2)}" %></h1>

  <table>
    <thead>
      <tr>
        <th><%= Contact.human_attribute_name("name") %></th>
        <th><%= Contact.human_attribute_name("email") %></th>
        <th><%= Contact.human_attribute_name("kind") %></th>
        <th colspan="2"></th>
      </tr>
    </thead>

    <tbody>
      <% @contacts.each do |contact| %>
        <tr style="background: <%= cycle('#FFF', '#F0F0F5')%>" >
          <td><%= contact.name %></td>
          <td><%= contact.email %></td>
          <td><%= contact.kind.description %></td>
          <td><%= link_to t('buttons.Edit'), edit_contact_path(contact) %></td>
          <td><%= link_to t('buttons.Destroy'), contact, method: :delete, data: { confirm: t('messages.destroy_confirm') } %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br />
  <%= paginate @contacts %>
  <br>

  <%= link_to "#{t('buttons.new')}", new_contact_path, class: "btn btn-primary" %>
  <%= link_to "#{t('buttons.home')} ", root_path, class: "btn btn-primary" %>
</div>
